/*=============================================================================*
 *                          dragon's  ONELINE PROTON                           *
 *                                                                             *
 * description    : An oneline userChrome.css theme for Firefox, which aims to *
 *                  keep the Proton experience but cleaner                     *
 * compatibility  : Firefox 89+ (tested with Dark Space theme)                 *
 * based on       : https://github.com/lr-tech/OnelineProton/                  *
 * and            : some other snippents on r/FirefoxCSS                       *
 *                                                                             *
 *============================================================================*/

/*
 To do(?):
  - Hide all buttons (forward/back/reload, downloads, more tools, menu, sidebar) when not hovring on the toolbar
*/

/* S E T T I N G S */

:root {
	--navbarWidth     : 44vw; /* width of navbar */
	--animationSpeed  : 0.15s;
	--mid-tone        : #aaa;
}

/* H I D I N G   E L E M E N T S */

/* Hide back button only when disabled */
#back-button[disabled="true"] { display: none !important }

/* Hide forward button only when disabled */
#forward-button[disabled="true"] { display: none !important }

/* "Shield" icon */
#tracking-protection-icon-container { display: none !important }

/* Site information buttons */
/* if you make it 'display: none' you can't interact with the menu you get from clicking it */
#urlbar:not(:hover) #identity-box {
	width: 0 !important;
	overflow: hidden !important;
}

/* This is the "Search with" indicator on the urlbar */
#urlbar-search-mode-indicator { display: none !important }

/* Zoom button */
/* #urlbar-zoom-button { display: none !important } */

/* Page action (right three dash button) */
/* #pageActionButton { display: none !important } */

/* These are the buttons on the right of the urlbar */
/* #page-action-buttons { display: none !important } */

/* "Always open in container" button */
#urlbar #pageAction-urlbar-_testpilot-containers {
	display: none !important;
}

/* Container name */
#userContext-label, #userContext-icons, #userContext-indicator {
	display: none
}

/* #urlbar-label-box { display: none !important } */

/* This one is the hamburger menu! */
/* CAUTION: if you hide this some popups may be bugged */
/* #PanelUI-button { display: none !important } */

/* Tab close button */
.tab-close-button { fill: transparent !important }

/* Enable this to show the tab close button when hovering the tab */
.tabbrowser-tab:hover .tab-close-button { 
  fill: var(--mid-tone) !important;
}

/*============================================================================*/

/* Oneline tweak
   window goes back to two lines if is thinner than min-width
*/

@media (min-width: 900px) {

	#TabsToolbar {
	  margin-left : var(--navbarWidth) !important;
	}

	#nav-bar {
	  margin-right: calc(100vw - var(--navbarWidth)) !important;
	}

	#urlbar-container {
	  min-width   : 0px !important;
	}

	:root[uidensity="compact"] #nav-bar {
	  margin-top  : -37px !important;
	  height      : 37px !important;
	}

	:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
	  margin-top  : -44px !important;
	  height      : 44px !important;
	}

	:root[uidensity="touch"] #nav-bar {
	  margin-top  : -49px !important;
	  height      : 49px !important;
	}


	/* Dragging space */
	:root[sizemode="maximized"] #TabsToolbar {
	  margin-top: 1px;
	}

	#TabsToolbar {
	  margin-top: 5px;
	}

}

/* Simplifying interface */

#nav-bar {
  background  : none !important;
  box-shadow  : none !important;
}

#navigator-toolbox {
  border      : none !important;
}

.titlebar-spacer {
  display     : none !important;
}

#urlbar-background {
  border      : none !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow  : none !important;
  background  : none !important;
}

/* Custom stuff */

/* less colorful star (when favourited) */
#star-button:not(:hover) {
	fill: #aaa !important;;
}

/* separate pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) 
> #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 2px !important;
	border-left: 1px solid #555 !important;
	border-radius: 5px !important; /* 5px */
}
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) 
> #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] .tab-background {
  margin-left: 3px !important;
}

/* tabs that fill the width */ 
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 5em !important;
  max-width: 100% !important;
} */

/* center tab names */
#tabbrowser-tabs .tabbrowser-tab:not(:hover):not([pinned]) .tab-label-container { margin-inline-end: 7px }
.tab-label-container { 
	-moz-box-pack: center; 
	-moz-box-orient: horizontal;
  padding-top: 5pt;
}

/* hide container color bar */
#tabbrowser-tabs .tab-context-line {
    display: none;
}/*

/* recolor the tab text with the container color */
#tabbrowser-tabs [class*="identity-color-"] {
    color: var(--identity-icon-color) !important;
}

/* show a bottom line on pinned tabs */
#tabbrowser-tabs [class*="identity-color-"][pinned] .tab-background {
   border-bottom: 2px solid var(--identity-icon-color) !important;
}

/* a bit more contrast on selected tab */
.tabbrowser-tab:not(first-visible-tab):not(last-visible-tab) .tab-background[selected] {
	--col: var(--identity-icon-color,#ddd);
	background-image: linear-gradient(var(--col),var(--col)) !important;
	opacity: 25%;
}

/* hide tab background and close button if it's the only one */
.tabbrowser-tab[first-visible-tab][last-visible-tab] .tab-background{background:transparent !important;box-shadow:none !important;}
.tabbrowser-tab[first-visible-tab][last-visible-tab] .tab-close-button{display:none}

/* animations */
.subviewbutton,
#urlbar-background,
.urlbar-icon,
#urlbar-input-container,
.urlbar-input-box, 
#identity-box,
#tracking-protection-icon-container,
[anonid=urlbar-go-button],
.urlbar-icon-wrapper,
#tracking-protection-icon,
#identity-box image,
stack,
tab:not(:active) .tab-background,
tab:not([beforeselected-visible])::after,
tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::before,
.tab-close-button {
  transition  : var(--animationSpeed) !important;
}
